a.social {
    --bg-img:"";
    background-image: var(--bg-img);
    width: 1.5rem;
    height: 1.5rem;
    display: block;


    -webkit-background-clip: initial;
    background-clip: initial;


&[area-label="tiktok"] {
    background-image: url(asset/icons/tiktok.svg);

    &:hover {
        background-image: url(asset/icons/tiktok-hover.svg);
    }
}

&[area-label="twitter"] {
    background-image: url(asset/icons/twitter.svg);

    &:hover {
        background-image: url(asset/icons/twitter.svg);
    }
}

&[area-label="discord"] {
    background-image: url(asset/icons/discord.svg);

    &:hover {
        background-image: url(asset/icons/discord.svg);
    }
}


&[area-label="instagram"] {
    background-image: url(asset/icons/instagram.svg);

    &:hover {
        background-image: url(asset/icons/instagram.svg);
    }
}

}